.App {
  text-align: center;
  color: black;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  opacity: 88%;

}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  opacity: 60%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
.modal {
  display: none;
  position: fixed;
  height: 800px;

  width: 700px;
  padding-left: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 18px black;
}

.modal-content {
  justify-content: center;
  color: black;
  max-width: 80%;
  margin: 10px;
  text-align: left;
}

.mainheader {
  color: #052651;
  width: 100%;
  font-family: fantasy;
  height: 25px;
  display: flex;
  flex-direction: row;
  position: fixed;
  
  background-color: red;

}

h1 {
  font-size: 10pt;

  padding-left: 20px;
  padding-right: 20px;
  margin-top: -9px;

}


.sortbar{
  width: 100p;
  margin-top: -13px;



;}

.movielistdiv{


padding-top: 60px;
}


.searchbar{

  width: 100px;
}