.MovieCardBox {
  border-radius:30px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  color: black;
  background-color: gray;
  width: 200px;
  height: 360px;
  margin: 15px;
}

.moviecardimage {
  width: 160px;
  border-radius: 13px;
  height: 200px;
}

.moviecardtitle {
  padding: 4px;
  justify-content: center;
  font-size: 15pt;
  overflow: auto;
  white-space: normal;
}

#movieboxcontainer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}


