.sidebar {
    width: 250px;
    position: fixed;
    right: 10px;
    top: 10%;
    height: 80%;
    background-color: #f4f4f4;
    border-radius: 40px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    color: black;

    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  }
  
  .sidebar-section {
    margin-bottom: 20px;
  }
  
  .sidebar-section h2 {
    color: #333;
  }
  
  .sidebar-section ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-section li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .sidebar-section li:last-child {
    border-bottom: none;
  }